In [3]:
import pandas as pd
import numpy as np

In [4]:
pd.Series([1, 2, 3, 4])

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])

a    1
b    2
c    3
d    4
dtype: int64

In [7]:
pd.Series({'a': 1, 'b':2, 'c':3}, name='my_series')

a    1
b    2
c    3
Name: my_series, dtype: int64

In [8]:
pd.Series(10)

0    10
dtype: int64

In [9]:
pd.Series(np.arange(0, 1, 0.01))

0     0.00
1     0.01
2     0.02
3     0.03
4     0.04
      ...
95    0.95
96    0.96
97    0.97
98    0.98
99    0.99
Length: 100, dtype: float64

In [10]:
series = pd.Series([0, 1, 2, 3])
series.index.name = 'my_index'
series

my_index
0    0
1    1
2    2
3    3
dtype: int64

In [11]:
series.index

RangeIndex(start=0, stop=4, step=1, name='my_index')

In [12]:
series.values

array([0, 1, 2, 3])

In [13]:
len(series)

4

In [14]:
series.size

4

In [15]:
series.shape

(4,)

In [16]:
series.dtype

dtype('int64')

In [17]:
pd.Series(list('abc'))

0    a
1    b
2    c
dtype: object

In [18]:
pd.Series(list('abc'), dtype='string')

0    a
1    b
2    c
dtype: string

In [19]:
series = pd.Series(np.arange(0, 1, 0.01))
series

0     0.00
1     0.01
2     0.02
3     0.03
4     0.04
      ...
95    0.95
96    0.96
97    0.97
98    0.98
99    0.99
Length: 100, dtype: float64

In [20]:
series.head()

0    0.00
1    0.01
2    0.02
3    0.03
4    0.04
dtype: float64

In [21]:
series.head(10)

0    0.00
1    0.01
2    0.02
3    0.03
4    0.04
5    0.05
6    0.06
7    0.07
8    0.08
9    0.09
dtype: float64

In [22]:
series.tail()

95    0.95
96    0.96
97    0.97
98    0.98
99    0.99
dtype: float64

In [23]:
series.tail(10)

90    0.90
91    0.91
92    0.92
93    0.93
94    0.94
95    0.95
96    0.96
97    0.97
98    0.98
99    0.99
dtype: float64

In [25]:
series.take(([i * 10 for i in range(0, 10)]))

0     0.0
10    0.1
20    0.2
30    0.3
40    0.4
50    0.5
60    0.6
70    0.7
80    0.8
90    0.9
dtype: float64

In [28]:
tuples = [
    ('one', 'foo'),
    ('one', 'bar'),
    ('two', 'foo'),
    ('two', 'bar')
]
index = pd.MultiIndex.from_tuples(tuples)
series = pd.Series([1, 2, 3, 4], index = index)
series

one  foo    1
     bar    2
two  foo    3
     bar    4
dtype: int64

In [33]:
series.index.levels[1]

Index(['bar', 'foo'], dtype='object')

In [36]:
array_ = [['one', 'two'],['foo', 'bar']]

In [39]:
index = pd.MultiIndex.from_product(array_)

In [40]:
series = pd.Series([1, 2, 3, 4], index = index)
series

one  foo    1
     bar    2
two  foo    3
     bar    4
dtype: int64

In [41]:
series = pd.Series([1, 2, 3, 4])
series.index = list('abcd')
series

a    1
b    2
c    3
d    4
dtype: int64

In [42]:
series = series.reindex(list('dcba'))

d    4
c    3
b    2
a    1
dtype: int64

In [43]:
series.reindex(list('dcbA'))

d    4.0
c    3.0
b    2.0
A    NaN
dtype: float64

In [44]:
np.nan

nan

In [45]:
series.reindex(list('dcbS'), fill_value=-1)

d    4
c    3
b    2
S   -1
dtype: int64

In [46]:
series = pd.Series([-1, 0, 1])
series > 0

0    False
1    False
2     True
dtype: bool

In [48]:
series = pd.Series([3, 2, 1, 0, 1, 2, 3], index=list('abcdefg'))
series.idxmin()

'd'

In [49]:
series

a    3
b    2
c    1
d    0
e    1
f    2
g    3
dtype: int64

In [58]:
series = pd.Series([3, 2, 1, 0, 1, 2, 3], index=list('abcdefg'))
series.iloc[1]

2

In [51]:
series[1]

2

In [59]:
series['b']

2

In [52]:
series.loc['d']

0

In [53]:
series.loc[['d', 'e', 'f']]

d    0
e    1
f    2
dtype: int64

In [54]:
series.iloc[[0, 1, 2]]

a    3
b    2
c    1
dtype: int64

In [ ]:
series[]

In [60]:
series = pd.Series([3, 2, 1, 0, 1, 2, 3], index=[10, 20, 30, 40, 50, 60, 70])
series[10]

3

In [62]:
series = pd.Series([3, 2, 1, 0, 1, 2, 3], index=list('abcdefg'))
series['b'] = 5
series

a    3
b    5
c    1
d    0
e    1
f    2
g    3
dtype: int64

In [63]:
series = pd.Series([3, 2, 1, 0, 1, 2, 3], index=list('abcabca'))
series['a'] = 5
series

a    5
b    2
c    1
a    5
b    1
c    2
a    5
dtype: int64

In [64]:
series = pd.Series([3, 2, 1, 0, 1, 2, 3], index=list('abcdefg'))
series.loc[['d', 'e', 'f']] = -2
series

a    3
b    2
c    1
d   -2
e   -2
f   -2
g    3
dtype: int64

In [72]:
series = pd.Series([1, 2, 3, 4, 5, 6, 7], index=list('abcdefg'))
series.iloc[::2]

a    1
c    3
e    5
g    7
dtype: int64

In [74]:
series.loc['b':'e':2]

b    2
d    4
dtype: int64

In [75]:
series = pd.Series([-3, -2, -1, 0, 1, 2, 3], index=list('abcdefg'))

In [76]:
series > 0

a    False
b    False
c    False
d    False
e     True
f     True
g     True
dtype: bool

In [77]:
series[series > 0]

e    1
f    2
g    3
dtype: int64

In [80]:
series[(series > -2) & (series < series.mean())]

c   -1
dtype: int64

In [81]:
series = pd.Series([-3, -2, -1, 0, 1, 2, 3], index=list('abcdefg'))
series * 2

a   -6
b   -4
c   -2
d    0
e    2
f    4
g    6
dtype: int64

In [82]:
series / 2

a   -1.5
b   -1.0
c   -0.5
d    0.0
e    0.5
f    1.0
g    1.5
dtype: float64

In [83]:
series ** 2

a    9
b    4
c    1
d    0
e    1
f    4
g    9
dtype: int64

In [85]:
series = pd.Series(list('abcdefg'))
series

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object

In [86]:
series * 10

0    aaaaaaaaaa
1    bbbbbbbbbb
2    cccccccccc
3    dddddddddd
4    eeeeeeeeee
5    ffffffffff
6    gggggggggg
dtype: object

In [88]:
#series / 10 TypeError

In [89]:
series1 = pd.Series(list('abcdefg'))
series2 = pd.Series([3, 2, 1, 0, 1, 2, 3])
series1 * series2

0    aaa
1     bb
2      c
3
4      e
5     ff
6    ggg
dtype: object

In [91]:
series1 = pd.Series([3, 2, 1, 0, 1, 2, 3], index=list('abcdefg'))
series2 = pd.Series([3, 2, 1, 0, 1, 2, 3], index=list('abcdefk'))
series1 * series2

a    9.0
b    4.0
c    1.0
d    0.0
e    1.0
f    4.0
g    NaN
k    NaN
dtype: float64

In [92]:
series1.mul(series2, fill_value=10)

a     9.0
b     4.0
c     1.0
d     0.0
e     1.0
f     4.0
g    30.0
k    30.0
dtype: float64

In [93]:
series = pd.Series(list('BaCAbC'))
series.sort_values()

3    A
0    B
2    C
5    C
1    a
4    b
dtype: object

In [94]:
series.sort_values(ascending=False)

4    b
1    a
2    C
5    C
0    B
3    A
dtype: object

In [95]:
series.sort_values(ignore_index=True, ascending=False)

0    b
1    a
2    C
3    C
4    B
5    A
dtype: object

In [96]:
series.sort_values(
    ignore_index=True, 
    key = lambda x: x.str.lower()
)

0    a
1    A
2    B
3    b
4    C
5    C
dtype: object

In [98]:
series = pd.Series([3, 2, 1, 0, 1, 2, 3], index=list('cdgebfa'))
series.sort_index()

a    3
b    1
c    3
d    2
e    0
f    2
g    1
dtype: int64

In [100]:
index = pd.MultiIndex.from_tuples(tuples)
series = pd.Series([1, 2, 3, 4], index = index)
series

one  foo    1
     bar    2
two  foo    3
     bar    4
dtype: int64

In [102]:
series.sort_index(level=0)

one  bar    2
     foo    1
two  bar    4
     foo    3
dtype: int64

In [104]:
series = pd.Series(list('aaabbbc'))
series

0    a
1    a
2    a
3    b
4    b
5    b
6    c
dtype: object

In [105]:
series.map({'a': 'A', 'b': 'B'})

0      A
1      A
2      A
3      B
4      B
5      B
6    NaN
dtype: object

In [120]:
def mul_2(value):
    return value * 2


series = pd.Series(list('aaabbbc'))
series.map(lambda x: x * 4)

0    aaaa
1    aaaa
2    aaaa
3    bbbb
4    bbbb
5    bbbb
6    cccc
dtype: object

In [109]:
"Hello {}".format('world')
series.map("Hello {}".format)

0    Hello a
1    Hello a
2    Hello a
3    Hello b
4    Hello b
5    Hello b
6    Hello c
dtype: object

In [112]:
def func(value, **kwargs):
    value = value * kwargs['a']
    value = value + kwargs['b']
    value = value - kwargs['c']
    return value

series = pd.Series([1, 2, 3, 4, 5, 6])
series.apply(func, a=3, b=4, c=10)

0    -3
1     0
2     3
3     6
4     9
5    12
dtype: int64

In [122]:
def mul_n(value, n):
    return value * n

series = pd.Series(list('aaabbbc'))
series.apply(mul_n, args=(10,))

0    aaaaaaaaaa
1    aaaaaaaaaa
2    aaaaaaaaaa
3    bbbbbbbbbb
4    bbbbbbbbbb
5    bbbbbbbbbb
6    cccccccccc
dtype: object

In [113]:
series.apply(np.log)

0    0.000000
1    0.693147
2    1.098612
3    1.386294
4    1.609438
5    1.791759
dtype: float64

In [114]:
series.apply(np.sqrt)

0    1.000000
1    1.414214
2    1.732051
3    2.000000
4    2.236068
5    2.449490
dtype: float64

In [119]:
def mul_n(value, pair):
    print(pair[1])
    return value * pair[0]

series = pd.Series(list('aaabbbc'))
series.apply(mul_n, args=((2, 3),))

3
3
3
3
3
3
3

0    aa
1    aa
2    aa
3    bb
4    bb
5    bb
6    cc
dtype: object

In [123]:
# series.apply(np.multiply, (,)) разобраться